<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/mdeditor/css/editormd.preview.css">
    <script src="/static/mdeditor/lib/marked.min.js"></script> 
    <script src="/static/mdeditor/lib/prettify.min.js"></script>
    <script src="/static/mdeditor/editormd.js"></script>
    <link rel="stylesheet" href="/static/katex/katex.min.css">
    <script src="/static/katex/katex.min.js"></script>
    <script src="/static/katex/contrib/auto-render.min.js"></script>
    <style type="text/css">body{overflow-x:hidden;}</style>
</head>
<body> 
    <pre id="content" style="display:none">{{content}}</pre> <!--不加safe允许转义-->
    <div id="display"></div>
    <script>
    $(function() {
        var str = document.getElementById('content').innerText;
        str = str.replace(/\\\\/g,'\\\\\\\\');
	    var testView = editormd.markdownToHTML("display", {
            markdown : '[TOC]\n\n'+str,
            //htmlDecode : true,  // Enable / disable HTML tag encode.
            //htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "\\[", right: "\\]", display: false},
                {left: "$", right: "$", display: false},
                {left: "\\(", right: "\\)", display: false}
            ]
        });
    });
    </script>    
</body>