<!DOCTYPE html>
<head>
    <script src="/static/js/plusminus.js"></script>
    <script src="/static/js/display.js"></script>
    <style rel="stylesheet">html,body{height:100%;}</style>
    <link rel="stylesheet" href="/static/css/menubar.css">
    <link rel="stylesheet" href="/static/css/content.css">
</head>

<body>
    <div id="menubar">
    <dl>
    <dd>
        <p><span onclick="plusminus(this,'blog')">+</span>blog</p>
        <dl id="blog" style="display:none">
            <dd>
                <p><span onclick="plusminus(this,'html')">+</span>html</p>
                <dl id="html" style="display:none">
                    <dd>
                        <p>1</p>
                        <p>2</p>
                    </dd>
                </dl>
            </dd>
            <dd>
                <p><span onclick="plusminus(this,'css')">+</span>css</p>
                <dl id="css" style="display:none">
                    <dd>
                        <p>3</p>
                        <p>4</p>
                    </dd>
                </dl>
            </dd>
    </dd>    
    </dl>
    </div>
</body>