<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery.js"></script>
    <link rel="stylesheet" href="/static/mdeditor/css/editormd.preview.css">
    <script src="/static/mdeditor/lib/marked.min.js"></script>
    <script src="/static/mdeditor/lib/prettify.min.js"></script>
    <script src="/static/mdeditor/editormd.js"></script>
    <link rel="stylesheet" href="/static/katex/katex.min.css">
    <script src="/static/katex/katex.min.js"></script>
    <script src="/static/katex/contrib/auto-render.min.js"></script>
</head>
<body> 
    <div id="display"></div>
    <script>
    $(function() {
	    var testView = editormd.markdownToHTML("display", {
            markdown : '$$e^x$$',
            //htmlDecode : true,  // Enable / disable HTML tag encode.
            //htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
        });
    });
    </script>    
    <script>renderMathInElement(document.body);</script>
</body>